##
# @description Traefik file provider TLS configuration
# @author      Cristian Marcelo de Picciotto <d3p1@d3p1.dev>
##

##
# @note Add certificates to enable SSL connection
# @note This configuration is useful to create certificates 
#       for development environment
# @note Create certificates using `mkcert` and then mount them 
#       in the `docker-compose.dev.yml` in the `../certs` directory
# @link https://doc.traefik.io/traefik/https/tls/
# @link https://github.com/FiloSottile/mkcert/
##
tls:
  certificates:
    - certFile: /etc/traefik/certs/d3p1.dev.crt
      keyFile : /etc/traefik/certs/d3p1.dev.key