##
# @description Jekyll configuration customizations
# @author      Cristian Marcelo de Picciotto <d3p1@d3p1.dev>
##

##
# @note Set site URL. For instance, http://www.example.com
# @note The only way to customize this value is by configuration file. 
#       It is not possible to use command line options or some workaround 
#       with environment variables
# @note If in the future Jekyll allows the use of some type of 
#       command line option or environment variable, then we can re-use 
#       environment variables used on server implementation
##
url: "https://d3p1.dev"