/**
 * @description Global styles
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 */
@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-secondary-100: #ffffff;
  --color-secondary-500: #717171;
}

@utility token {
  &::before {
    content: '[';
  }
  &::after {
    content: ']';
  }
}

@layer base {
  h1, h2, h3 {
    @apply font-black uppercase token
  }

  h1, h2 {
    @apply text-lg lg:text-xl
  }

  h3 {
    @apply text-base lg:text-lg
  }
}